data/**/~$*.xlsx

.DS_Store
.idea/
.vscode/
.tox/
.venv/
.coverage
.coverage.*
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/
.nox/
.cache/
.tmp/
artifacts/*
!artifacts/.gitkeep
site/
build/
dist/
htmlcov/
node_modules/
*.egg-info/
pip-wheel-metadata/

**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.pytype/
**/.hypothesis/
**/.benchmarks/
**/.tox/
**/.venv/
**/.nox/
**/.cache/
**/site/
**/build/
**/dist/
**/htmlcov/
**/*.egg-info/
**/*.pyc
**/*.pyo
*.swp
*.swo
